[submodule ".repos/runtime-spec"]
	path = .repos/runtime-spec
	url = https://github.com/opencontainers/runtime-spec.git
[submodule ".repos/runc"]
	path = .repos/runc
	url = https://github.com/opencontainers/runc.git
[submodule ".repos/containerd"]
	path = .repos/containerd
	url = https://github.com/containerd/containerd.git
[submodule ".repos/nvidia-container-toolkit"]
	path = .repos/nvidia-container-toolkit
	url = https://github.com/NVIDIA/nvidia-container-toolkit.git
[submodule ".repos/open-gpu-kernel-modules"]
	path = .repos/open-gpu-kernel-modules
	url = https://github.com/NVIDIA/open-gpu-kernel-modules.git
[submodule ".repos/gpu-operator"]
	path = .repos/gpu-operator
	url = https://github.com/NVIDIA/gpu-operator.git
[submodule ".repos/k8s-device-plugin"]
	path = .repos/k8s-device-plugin
	url = https://github.com/NVIDIA/k8s-device-plugin.git
